section{
  display: flex;
  width: 70vw;
  height: 70vh;
  
}

section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: 500ms;
  border-radius: 10px 10px;
}

section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.body {
  background-image: url('../public/VikingosLogo.png'); /* Cambia la ruta a la ubicación de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen horizontal y verticalmente */
}
